* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 11px 16px;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    line-height: 1.75;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    font-weight: 700;
    font-family: var(--font-heading);
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    line-height: 1.17;
    font-size: 5.6rem;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 48px;
}

.desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}
/* ==== Header ==== */
.header {
    background: #fffcf4;
}

.sticky {
    position: sticky;
    z-index: 1;
    top: -28px;
    left: 0;
    right: 0;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar ul a {
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #5f5b53;
    padding: 8px 21px;
}

.navbar ul a:hover,
.navbar li.active a {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
    font-size: 16px;
    line-height: 1.75;
}

/* === Hero === */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 49%;
}

.media-block .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.media-block .summary {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.summary .item {
    display: flex;
    align-items: center;
}

.summary .item + .item {
    margin-top: 22px;
}

.summary .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
}

.summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.summary .info {
    margin-left: 16px;
}

.summary .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67rem;
    color: #171100;
}

/* Hero - right */
.hero .content-block {
    padding: 64px 0 0 130px;
    width: 51%;
}

.content-block .heading {
    margin-bottom: 22px;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.content-block .hero-btn {
    min-width: 180px;
    padding: 18px 16px;
    background: var(--primary-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.content-block span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .desc {
    margin-top: 8px;
}

.content-block .stats {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin: 0 8px 0 28px;
}

.content-block .stats:first-child {
    margin-left: 0;
}

/* ===== Popular === */
.popular {
    margin-top: 200px;
}

.popular .popular-top {
    display: flex;
    align-items: center;
}

.popular .info .desc {
    margin-top: 16px;
    width: 458px;
}

.popular .controls {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

.popular .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}

.popular .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* Popualr-list */
.popular-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-list .item {
    width: calc(100% / 3);
    background: #ffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular-list .item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular-list .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.popular-list .body {
    padding: 16px 22px 22px;
}

.popular-list .rating,
.popular-list .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-list .title a {
    margin-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-list .rating .value {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular-list .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular-list .row-bottom {
    margin-top: 12px;
}

.popular-list .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-list .popular-btn:hover {
    background: var(--primary-color);
}

/* === feedback === */
.feedback {
    margin-top: 200px;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    padding: 96px 0;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .info {
    width: 159px;
}

.feedback .title {
    font-family: Sen;
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .dots {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.feedback .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.feedback .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .content {
    margin-left: auto;
    width: 66%;
}

.feedback blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
